<div class="container">
  <div class="leftSide">
    <div class="row">
      <div class="col">
        <button class="btn btn-outline-info" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"
            aria-hidden="true"></i> Add product</button>
      </div>
      <div class="col">
        <div class="container">
          <div class="row justify-content-end">
            <div class="col"><input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="col-12 col-sm-auto">
              <button class="btn btn-outline-info" type="submit">Search <i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="row py-4">
          <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of productList?.list">
            <div class="card h-100">
              <a><img [src]="product?.images" [routerLink]="['/administration/productManagement', product.id]" class="card-img-top"
                  alt="..."></a>
              <div class="card-body">
                <div class="card-body">
                  <h5>{{product?.product_name}}</h5>
                  <p class="card-text">{{product?.description}}
                  </p>
                  <div class="row">
                    <div class="col-md-auto">
                      <h6>Price:</h6>

                    </div>
                    <div class="col">
                      <strong>{{product?.price|currency}}</strong>
                    </div>
                  </div>

                </div>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav aria-label="Page navigation example text-center">
      <ul class="pagination justify-content-center" >
        <li class="page-item">
          <a class="page-link" (click)="previousPage()" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item" (click)="onClick(i)"  [class.active]="active === i "
         *ngFor="let page of pages; let i = index;"><a class="page-link" (click)="getList(page)">{{page}}</a></li>
        <li class="page-item">
          <a class="page-link" (click)="nextPage()" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only"></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Add product</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-3 py-1">Name:</div>
              <div class="col-8">
                <input id="name" type="text" required class="form-control" formControlName="name"
                  [ngClass]="{ 'is-invalid': submitted && formAddProduct.name.errors }">
                <div *ngIf="submitted && formAddProduct.name.errors" class="invalid-feedback">
                  <div *ngIf="formAddProduct.name.errors.required">Name is required</div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-3 py-3">Description:</div>
              <div class="col-8">
                <textarea maxlength="100" class="form-control" aria-label="With textarea" formControlName="description"
                  [ngClass]="{ 'is-invalid': submitted && formAddProduct.description.errors }" required></textarea>
                <div *ngIf="submitted && formAddProduct.description.errors" class="invalid-feedback">
                  <div *ngIf="formAddProduct.description.errors.required">Description is required</div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-3 py-1">Price:</div>
              <div class="col-8"><input type="number" class="form-control" formControlName="price" required
                  [ngClass]="{'is-invalid':submitted && formAddProduct.price.errors}">
                <div *ngIf="submitted && formAddProduct.price.errors" class="invalid-feedback">
                  <div *ngIf="formAddProduct.price.errors.required">Price is required</div>
                </div>
              </div>

            </div>
            <br>
            <div class="row">
              <div class="col-3 py-1">Image:</div>
              <div class="col-8">
                <div><input type="file" class="form-control" formControlName="image"
                    [ngClass]="{'is-invalid':submitted && formAddProduct.price.errors}"></div>
                <img src="http://kinhteluat.tmu.edu.vn/templates/not-found.png" class="img-fluid img-thumbnail"
                  alt="avatar">
                <div *ngIf="submitted && formAddProduct.image.errors" class="invalid-feedback">
                  <div *ngIf="formAddProduct.image.errors.required">Image is required</div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-3 py-1"></div>
              <div class="col-8">
                <div class="container-fluid d-flex justify-content-center">
                  <div class="row">
                    <div class="col">
                      <button type="submit" class="btn btn-info">Save</button>
                    </div>
                    <div class="col">
                      <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <br>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner></ngx-spinner>
