<div class="container-fluid ">
  <div class="row align-items-center">
    <div class="col" style="padding: 0;">
      <div id="imgBg"></div>
    </div>
    <div class="col-md-auto">
      <div class="container">
        <article class="main">
          <div class="container">
            <div class="row py-lg-5">
              <div class="col card py-3">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="signIn-tab" data-toggle="tab" href="#signIn" role="tab"
                      aria-controls="home" aria-selected="true">Sign in</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab"
                      aria-controls="profile" aria-selected="false">Register</a>
                  </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="signIn" role="tabpanel" aria-labelledby="signIn-tab">

                    <br>
                    <h5 class="card-title text-center mb-4 mt-1">Sign in</h5>
                    <hr>
                    <p class="text-danger text-center" *ngIf="condition">usename or password is not correct</p>
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                          </div>
                          <input placeholder="Username" class="form-control" placeholder="Email or login" type="email"
                            required formControlName="email" [ngClass]="{ 'is-invalid': submitted && formlogin.email.errors }">
                          <div *ngIf="submitted && formlogin.email.errors" class="invalid-feedback">
                            <div *ngIf="formlogin.email.errors.required">Email is required</div>
                            <div *ngIf="formlogin.email.errors.email">Email must be a valid email address</div>
                          </div>
                        </div> <!-- input-group.// -->
                      </div> <!-- form-group// -->
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                          </div>
                          <input formControlName="password" placeholder="Password" class="form-control"
                            placeholder="******" type="password" required
                            [ngClass]="{ 'is-invalid': submitted && formlogin.password.errors }">
                          <div *ngIf="submitted && formlogin.password.errors" class="invalid-feedback">
                            <div *ngIf="formlogin.password.errors.required">Password is required</div>
                            <div *ngIf="formlogin.password.errors.minlength">Password must be at least 6 characters</div>
                          </div>
                        </div> <!-- input-group.// -->
                      </div> <!-- form-group// -->
                      <div class="form-group">
                        <button type="submit" class="btn btn-info btn-block"> Login </button>
                      </div> <!-- form-group// -->
                      <div class="row ">
                        <div class="col-sm">
                          <p class=""><a href="#" class="btn">Forgot password?</a></p>
                        </div>
                        <div class="col-sm">
                          <p class=""><a href="#" class="btn">Sign up?</a></p>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                    <br>
                    <h5 class="card-title text-center mb-4 mt-1">Register</h5>
                    <hr>
                    <app-register></app-register>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>
