<div class="container">
  <h4>Request for approval</h4>
  <hr>
  <div >
    <div class="row no-gutters justify-content-center align-items-center">
      <div class="col-md-4 text-center">
        <!-- <img
          [src]="user.avatar"
          class="card-img" alt="..."> -->
      </div>
      <div class="col-md-8 px-5">
        <div class="card-body">
          <h5 class="card-title">Axtore</h5>
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <p class="card-text">Name: Store</p>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <p class="card-text">Gender: Female</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <p class="card-text">DOB: 01-01-2019</p>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <p class="card-text">Phone: 0987654321</p>
            </div>
          </div>
          <p class="card-text">Address: HN - VN</p>
          <!-- <small class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          <button class="btn btn-info">Approve</button>
        </div>
      </div>
    </div>
  </div>

</div>
