<div class="container">
  <h4>Request for approval</h4>
  <hr>
  <div *ngFor="let user of userRequests">
    <div class="row no-gutters justify-content-center align-items-center">
      <div class="col-md-4 text-center">
        <img
          [src]="user.avatar"
          class="card-img" alt="...">
      </div>
      <div class="col-md-8 px-5">
        <div class="card-body">
          <h5 class="card-title">Name: {{user?.full_name}}</h5>
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <p class="card-text">Email: {{user?.email}}</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <p class="card-text">Gender: {{user?.gender===true?"Male":"Female"}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <p class="card-text">DOB: {{user?.birthday| date:'dd/MM/yyyy'}}</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <p class="card-text">Phone: {{user?.phone}}</p>
            </div>
          </div>
          <p class="card-text">Address: {{user?.address}}</p>
          <button class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Approve</button>
        </div>
      </div>
    </div>
    <hr>
    <div  class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true"
     >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm request</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            You definitely want to approve this shop.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info w-25" data-dismiss="modal" (click)="approve(user.id)">Yes</button>
            <button type="button" class="btn btn-secondary w-25" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner></ngx-spinner>
