<div class="container">
  <div class="row py-lg-5">
    <div class="col-3">
      <div class="image-cropper">
        <img
          src="https://afamilycdn.com/zoom/700_438/2019/11/4/7314779622804047254203705388510426768080896n-15728742930431098268202-crop-1572874305562273153512.jpg"
          class="img-fluid img-thumbnail" alt="avatar">
      </div>
      <br>
      <div><input type="file" class="text-center center-block file-upload"></div>
    </div>
    <div class="col card">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">Personal Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">Account</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
            aria-selected="false">Contact</a>
        </li> -->
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <br>
          <div><strong>My profile</strong></div>
          <br>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="col-md-5 control-label">User Name</label>
                <div class="col-md-10 ">
                  <input type="text" class="form-control" value="Ice Cream Shop">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-5 control-label">First Name</label>
                <div class="col-md-10 ">
                  <input type="text" class="form-control" value="Rebecca">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-5 control-label">Last Name</label>
                <div class="col-md-10 ">
                  <input type="text" class="form-control" value="Rebecca">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-5 control-label">Date of birth</label>
                <div class="col-md-10 ">
                  <input type="text" class="form-control" value="01/01/2020">
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label class="col-md-5 control-label">Gender</label>
                <div class="col-md-10 ">
                  <input type="text" class="form-control" value="Female">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-5 control-label">Phone</label>
                <div class="col-md-10 ">
                  <input type="text" class="form-control" value="0987654321">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-5 control-label">Email</label>
                <div class="col-md-10 ">
                  <input type="text" class="form-control" value="rebecca@gmail.com">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-5 control-label">Address</label>
                <div class="col-md-10 ">
                  <input type="text" class="form-control" value="US">
                </div>
              </div>
            </div>
          </div>
          <br>
          <button class="btn btn-info w-25"  type="submit">Save</button><br>
          <br>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <br>
          <div><strong>Change password</strong></div>
          <div class="notice">For account security, please do not share the password with others</div>
          <br>
          <div class="form-group">
            <label class="col-md-5 control-label">Enter current password</label>
            <div class="col-md-10 ">
              <input type="text" class="form-control" value="Ice Cream Shop">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-5 control-label">Enter new password</label>
            <div class="col-md-10 ">
              <input type="text" class="form-control" value="Ice Cream Shop">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-5 control-label">Enter confirm password</label>
            <div class="col-md-10 ">
              <input type="text" class="form-control" value="Ice Cream Shop">
            </div>
          </div>
          <br>
          <button class="btn btn-info w-25" type="submit">Save</button><br>
          <br>
        </div>
        <!-- <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">CONTACT</div> -->
      </div>
    </div>
  </div>
</div>
