a {
  color: black;
}
input {
  width: 5%;
}
.form-control {
  background-color: white;
  border: none;
}
input {
  text-align: center;
  margin-bottom: 10px;
}
.container{
  margin-top: 50px;
}
.myClass{
  background-color : #10BC13;
}
input[type="text"]
{
    font-size:25px;
    text-align:left;
    font-weight: bold;
    margin-bottom: 10px;
}
.custom-file{
  margin-top: 5px;
}
img:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
