<div class="container card">
  <div class="row py-5 ">
    <div class="col-4">
      <div>
        <img [src]="product.image" class="img-fluid img-thumbnail" alt="avatar">
      </div>
      <div class="custom-file" *ngIf="!isReadonly">
        <input type="file" class="custom-file-input" id="inputGroupFile01" >
        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
      </div>
    </div>
    <div class="col">
      <div>
        <input type ="text" class="form-control w-25" [value]="product.name" [readonly]="isReadonly">
      </div>
      <div><input class="btn btn-warning w-25" [value]="product.price|currency" [readonly]="isReadonly">
        <div class="row">
          <div class="col-2 py-3">Description</div>
          <div class="col-8">
            <div class="form-group">
              <textarea class="form-control"aria-label="With textarea"
                [readonly]="isReadonly">{{product.description}}</textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-2 py-2">Create at</div>
          <div class="col-8 ">
            <input class="form-control w-25" ng-model="date" [value]="product.createAt"
              [readonly]="isReadonly">
          </div>
        </div>
        <div class="row">
          <div class="col-2 py-2">Update at</div>
          <div class="col-8 ">
            <input class="form-control w-25" ng-model="date" [value]="product.updateAt" [readonly]="isReadonly">
          </div>
        </div>
        <div class="row">
          <div class="col-2 py-2">Quantity</div>
          <div class="col-8 ">
            <input type="number" class="btn btn-outline-info w-25" [value]="product.quantity" [readonly]="isReadonly" >
          </div>
        </div>
        <button class="btn btn-info w-25" (click)="onChanges()" type="submit" [class.myClass]="isClicked">{{edit}}</button>
      </div>
    </div>
  </div>
</div>
