<div class="container card">
  <div class="row py-5 ">
    <div class="col-4">
      <div>
        <img [src]="product.image" class="img-fluid img-thumbnail" alt="avatar">
      </div>
      <br>
      <div class="custom-file" *ngIf="!isReadonly">
        <input type="file" class="custom-file-input" id="inputGroupFile01" >
        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
      </div>
    </div>
    <div class="col ">
      <h3>{{product.name}}</h3>
      <div><input class="btn btn-warning w-25" [value]="product.price|currency" [readonly]="isReadonly">
        <div></div><br>
        <div class="row">
          <div class="col-2">Description</div>
          <div class="col-8">
            <div class="form-group">
              <textarea class="form-control" rows="3" aria-label="With textarea"
                [readonly]="isReadonly">{{product.description}}</textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-2">Quantity</div>
          <div class="col-8 ">
            <input type="number" class="btn btn-outline-info w-25" [value]="product.quantity" [readonly]="isReadonly">
            (Products)
          </div>
        </div><br>
        <button class="btn btn-info w-25" (click)="onChanges()" type="submit">Edit</button>
      </div>
    </div>
  </div>
</div>
